<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="semanticweb.hws14.activities"
    android:installLocation="preferExternal" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="semanticweb.hws14.movapp.activities.Criteria"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="semanticweb.hws14.movapp.activities.MovieList"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="semanticweb.hws14.movapp.activities.MovieDetail"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="semanticweb.hws14.movapp.activities.ActorList"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_actor_list"
            android:parentActivityName="semanticweb.hws14.movapp.activities.MovieDetail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="semanticweb.hws14.movapp.activities.Detail" />
        </activity>
        <activity
            android:name="semanticweb.hws14.movapp.activities.ActorDetail"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_actor_detail"
            android:parentActivityName="semanticweb.hws14.movapp.activities.ActorList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="semanticweb.hws14.movapp.activities.ActorList" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
